*{
    font-family: cursive;
}
#form{
    width: 100%;

    font-family: cursive;
}
#juice{
  background-color: black;
  border-radius: 14px;
}

#form input,#form textarea{
    width: 50%;

}
input{
    left: 50%;
}
@media only screen and (max:width= 450px){
    #form{
        width: 100%;
    }
}
