<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <form (ngSubmit)='submitQuote()' id="form">
              <div class="form-group ">

                <input type="text" required class="form-control" id="author"  name="name" placeholder="Enter Your Name..." required>
                  <p>Fill Name</p>
              </div>
              <div class="form-group ">
                <input type="text" required class="form-control text-center" id="publisher" name="publisher" placeholder="Publisher's name..." required>
                  <p> Fill Publisher Name</p>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="description" rows="4" name="description" placeholder="Enter Quote Here" required></textarea>
                  <p> Description is Required</p>


              </div>
              <div class="form-group col-md-6">
                <input type='date' class="form-control"id="complete"  name="completeDate" placeholder="Date" required>
                  <p> Complete Date is Required</p>

            </div>
            <button [disabled]="!quoteForm.form.valid" id= "btn" type="submit" class="btn btn-success btn-lg"><i
            class="	fa fa-plus-square"></i></button>
          </form>

      </div>
    </div>
   </div>
